{% extends "layouts/base.html" %}

{% block body %}
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }

    body {
        font-family: 'Dongle', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }

    html,
    body {
        margin: 0;
        height: 100%;
        background-color: #212529;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -o-animation: fadein 2s;
        min-height: 100%;
    }
</style>

<div class="h1 text-white text-center px-5 pt-5">
    Upcoming CTE Events Calendar
</div>
<div class="d-flex align-content-center mx-5">
    <table class="table m-5">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Date </th>
            <th scope="col">Time</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody class="bg-white text-black" id="event-output">

        </tbody>
</div>

<script>
    // Finds current date and time to compare events to
    const date = new Date()
    let cur_month = date.getMonth() + 1
    let cur_date = date.getDate()
    let cur_year = date.getFullYear()
    console.log(cur_month, cur_date, cur_year)

    // Finds output table div and removes all previous events (preventing duplicates)
    var outputdiv = document.getElementById("event-output");
        while (outputdiv.firstChild) {
            outputdiv.removeChild(outputdiv.firstChild);
        };
    
    var SearchGlobal = {};

    function search(){
    
    const body = {
        term: ""
    };
    SearchGlobal.body = body

    fetch('/events/search/term/', {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(body),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    }).then(function(response) {
        
    response.json().then(function(data) {

    // Function passes through all events
    for (var i = 0; i < data.length; i++) {

        console.log(data[i])
        event = data[i]
        j = event.datetime
        // Finds date and time of each event and compares Y, M, D
        var displayevent = true
        var skip = false
        // Compares year of event to current date
        if (parseInt(j.substring(0,4)) < cur_year) {
            displayevent = false
        }
        // If year is greater than current, it can skip comparing date and month
        else {
            skip = true
        }
        // Compares month and date in similar fashion to year
        if (skip == false) {
            if (parseInt(j.substring(5,7)) < cur_month) {
                displayevent = false
            }
            else {
                skip = true
            }
            if (skip == false) {
                if (parseInt(j.substring(8,10)) < cur_date) {
                    displayevent = false
                }
            }
        }
        
        // Displays the event in table if it is after or on the current date, but not if it is before
        if (displayevent == true) {
            displayevent_func(event)
        }
    }
    })})}

    function displayevent_func(event) {
        // Creates a new table row
        var rowdiv = document.createElement("tr");
        outputdiv.appendChild(rowdiv);
            // Creates new columns for the row based on event info and appends it
            // Event Name
            var namediv = document.createElement("td")
                namediv.innerHTML = event.name
                rowdiv.appendChild(namediv)
            // Event Date
            var datediv = document.createElement("td")
                // datediv.innerHTML = event.datetime.substring(0,10)
                n = event.datetime
                datediv.innerHTML = n.substring(5,7) + "/" + n.substring(8,10) + "/" + n.substring(0,4)
                rowdiv.appendChild(datediv)
            // Event Time
            var timediv = document.createElement("td")
                if (parseInt(event.datetime.substring(11,13)) > 12) {
                    hour = (parseInt(event.datetime.substring(11,13)) - 12).toString();
                    daysec = "P.M.";
                }
                else {
                    hour = event.datetime.substring(11,13);
                    daysec = "A.M.";
                }
                minutes = event.datetime.substring(14,16);
                // timediv.innerHTML = event.datetime.substring(11,19)
                timediv.innerHTML = hour + ":" + minutes + " " + daysec;
                rowdiv.appendChild(timediv);
            // Event Description
            var descdiv = document.createElement("td")
                descdiv.innerHTML = event.description
                rowdiv.appendChild(descdiv)
    }
    
    search();
    
</script>



{% endblock %}