<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}

    <div class="d-flex justify-content-center">
    <div class="m-5" style="width: 500px">
    <div class="d-flex justify-content-center mt-3 text-dark">
        <p class="text-dark"> You are not permitted access. Please log in with the correct admin account. </p>
    </div>
    <div class="d-flex justify-content-center mt-3 text-dark">
        <a class="btn btn-primary text-white" href="/crud/logout/"> Log in with a new account</a>
    </div>
    <!-- <div class="d-flex justify-content-center bg-dark mt-1">
    <form action="/events/" style="text-align: center" id="daniel" method="POST">
        <div style="padding: 0 0 1% 0">
            <input class="form-control" name="key" type="text" id="key">
            <input class="btn btn-primary mt-3" type="submit" value="Submit">
        </div>
    </form> -->
    </div>
    </div>
    </div>

{% endblock %}