{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>What is Career Technical Education (CTE)?</title>
</head>
<style>
    h1 {
        text-align: center;
        margin-top: 5%;
        padding-bottom: 15px;
    }
    h4{
        color: #7F00FF;
    }
    p{
        font-family: monospace;
    }
    table{
        border-spacing: 10px;
        width: 80%;
    }
    table tr{
        display: flex;
        border: 1px solid black;
        border-radius: 8px;
    }
    .arrow {
        padding-left: 10px;
        padding-top: 5px;
    }
    table p{
        margin-left:50px;
        color: whitesmoke;
    }
    tr:nth-child(1){
        background-color: #1ab892;
    }
    tr:nth-child(2){
        background-color: #3a57a8;
    }
    tr:nth-child(3){
        background-color: #54c8eb;
    }
    tr:nth-child(4){
        background-color: #d3e15b;
    }
    tr:hover {
        background-color: #1E3F66;
    }
</style>
<body>
<center>
        <div class="jumbotron p-3 mx-auto" style="font-family: 'Montserrat', monospace; width: 80%; text-align: center">
            <h1 class="display-4">What is Career Technical Education?</h1>
            <p  class="text-center mx-auto">Career Technical Education in Poway Unified School District offers academically challenging technical courses and programs. These courses and programs are comprehensive and future-oriented, are responsive to student, parent, community and workforce development needs, and are proven to positively affect student achievement.</p>
            <hr class="my-4">
        </div>

    <iframe width="640" height="385" src="https://www.youtube.com/embed/nmmYOAUeoUM" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <br><br><br>
    <h2>Why Should Students Enroll in CTE Pathways?</h2>
    <br>
<table>
    <tr>
        <td>
            <img class="arrow" src="/static/info-pages/arrow.png" alt="arrow" style="width:100px; height:50px; margin-top:12px;" />
        </td>
        <td><br>
            <p>Students can get real world, hands on experiences in a career area that interests them and connects to their core academics.</p>
        </td>
    </tr>
    <tr>
        <td><br>
            <img class="arrow" src="/static/info-pages/arrow.png" alt="arrow" style="width:100px; height:50px; margin-top:-12px;" />
        </td>
        <td><br>
            <p>Internships and work-based learning opportunities embedded into most courses to provide meaningful experiences.</p>
        </td>
    </tr>
    <tr>
        <td><br>
            <img class="arrow" src="/static/info-pages/arrow.png" alt="arrow" style="width:100px; height:50px; margin-top:-12px;" />
        </td>
        <td><br>
            <p>Courses are infused with essential skills needed to prepare students for success in college and career.</p>
            <br>
        </td>
    </tr>
    <tr>
        <td><br>
            <img class="arrow" src="/static/info-pages/arrow.png" alt="arrow" style="width:100px; height:50px; margin-top:-12px;" />
        </td>
        <td><br>
            <p>Possibility to earn industry certifications and early college credit through articulated or dual enrollment courses.</p>
        </td>
    </tr>
</table>

<br><br>
<img src="https://www.powayusd.com/getmedia/aefdb28a-7034-441b-b562-5b69214a4137/CTE-Pathways-Levels-of-Courses.png.aspx?width=844&height=474">
<br><br><br>
</center>

<div style="background-color: #1ab892">
<br><br>
    <h2 style="text-align:center">About Career Technical Education</h2>
<br>
    <div style="margin-right: 90px; margin-left: 90px">
    <p>
        Poway Unified School District and our entire community value the key role that Career Technical Education plays in helping to fulfill the District's mission of college, career and life readiness for every student.
        <br>
        As an integral part of the entire educational program, Career Technical Education in Poway Unified School District offers academically challenging technical courses and programs. These courses and programs are comprehensive and future-oriented, are responsive to student, parent, community and workforce development needs, and are proven to positively affect student achievement.
    </p>

    <h4>College & Career Technical Education in Poway Unified School District:</h4>
    <ul>
        <li>Provides early experiences for every student to gain exposure to and explore a full array of post-secondary, college and career choices.</li>
        <li>Reinforces, integrates and delivers core academic content (English, mathematics, social sciences, and science).</li>
        <li>Offers well-defined, articulated course sequences and experiences that foster the acquisition of knowledge, skills and attitudes necessary to prepare students for post-secondary study and careers in well paying, high-demand professions and occupations.</li>
        <li>Provides on-going opportunities for authentic, relevant, work-based experiences to students and staff through effective business and industry partnerships and participation in student organizations.</li>
        <li>Maximizes and leverages resources to ensure fiscal, facility, and personnel resources are used efficiently and effectively.</li>
        <li>Systematically collects and shares data to drive decisions and promote student achievement.</li>
    </ul>

    <h4>Results</h4>
    <p>Every student:</p>
<vl>
    <li>Develops an awareness of self and a vision for the future that connects to the educational experience.</li>
    <li>Creates meaningful and relevant projects as a part of all academic areas.</li>
    <li>Has multiple and non-traditional choices available to meet educational requirements.</li>
    <li>Graduates from high school with the knowledge, skills and attitudes necessary to be successful in college and careers.</li>
    <li>Completes high school with college credit.</li>
</vl>
    <p>Career Pathways by School Site</p>
<br>
    </div>
</div>

{% endblock %}
</body>
</html>