{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>What is Career Technical Education (CTE)?</title>
</head>
<style>
    h1{
        font-size: 40px;
    }
</style>
<body>
    <br><br>
<center><h1> What is Career Technical Education? </h1>
    <br><br>

    <iframe width="640" height="385" src="https://www.youtube.com/embed/nmmYOAUeoUM" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>



{% endblock %}
</body>
</html>