{% extends 'layouts/base.html' %}

<style>
    imagefit {
        max-width: 100%;
        max-height: 100%;
    }
</style>

{% block body %}

    <div class="jumbotron p-3 mx-auto" style="font-family: 'Montserrat', monospace; width: 80%; margin-top: 3%; padding-bottom: 15px; text-align: center">
        <h1 class="display-4">Industry Sectors</h1>
        <p  class="text-center mx-auto">Click on the boxes below to learn more about each Industry Sector.</p>
        <hr class="my-4">
    </div>
    <center>
        <img style="padding: 0 30px; height: 600px; width: auto; margin-right: auto; margin-left: auto; margin-top: -1%" src="{{ url_for('static', filename='images/sectors.png') }}" alt="sectors">
    </center>
        <div class="row justify-content-center mt-5" style="width: 99%; margin-top: -2%">

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#agricultureModal">
  <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-agNatural.png"></div>
  <div class="row text-center p-2">Agriculture and Natural Resources</div>
</button>
    <!-- Modal -->
    <div class="modal fade" id="agricultureModal" tabindex="-1" aria-labelledby="agricultureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agricultureModalLabel">Agriculture & Natural Resources (Agnatural) Industry Sector</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">

          <div class="col-auto p-3">
            <img class="imagefit" src="/static/industry-sectors/is-icons-agNatural.png">
          </div>
          <div class="col-8">
            <p>
            The Agriculture and Natural Resources sector is designed to provide a foundation in agriculture for all students.  The pathways emphasize real-world, occupationally relevant experiences.
            <br><br>
            Click on the button below to learn more about courses in Agriculture offered at Poway High School.
            </p>
          </div>
        </div>
        <div class="modal-body row" id="ag-info" style="display: none">
          <iframe style="width:100%; height:50vw" src="https://docs.google.com/presentation/d/e/2PACX-1vSECKpt5gvGTcDftpJDQIYGhUxM6d2IF_JLkjPi-KLpQWN5cHEpv9kuqbMTP7Vuu_Xuc8XuRxjPIkkM/embed?start=false&loop=false&delayms=30000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          <div class="mt-5 justify-content-center">
            <iframe style="width:100%; height:50vw" src="https://www.youtube.com/embed/W_BXapUlpvQ" title="YouTube video player - CTE Agriculture Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="revealinfo('ag-info')">Learn More</button>
        </div>
      </div>
    </div>
    </div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#ameModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-ame.png"></div>
    <div class="row text-center p-2">Arts, Media, & Entertainment</div>
</button>

    <div class="modal fade" id="ameModal" tabindex="-1" aria-labelledby="ameModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ameModalLabel">Arts, Media, & Entertainment (AME) Industry Sector</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">

                    <div class="col-auto p-3">
                        <img class="imagefit" src="/static/industry-sectors/is-icons-ame.png">
                    </div>
                    <div class="col-8">
                        <p>
                            AME is offered at all six high schools in PUSD and is divided into THREE different pathways.
                            <br><br>
                            Click 'learn more' below to learn more about each pathway and the courses that are offered at your high school!
                        </p>
                    </div>
                </div>
                <div class="modal-body row" id="ame-info" style="display: none">
                    <h3>
                        Design, Visual and Media Arts Pathway Industry Sector
                    </h3>
                    <br>
                        <p>
                            The Design, Visual and Media Arts pathway includes those occupations that use visual art, digital media, and Web-based tools and materials as the primary means of communication and expression.
                            <br><br>
                            <b>Examples of Careers:</b><br>
                            Digital Animator<br>
                            Artistic Director<br>
                            Commercial Artist<br>
                            Web Designer<br>
                            Museum Curator<br>
                        </p>
                    <h3>
                        Performing Arts Pathway Industry Sector
                    </h3>
                    <br>
                    <p>
                        PUSD's Studio 701 highlights the theater programs in PUSD
                    </p>
                    <h3>
                        Production and Managerial Arts Pathway Industry Sector
                    </h3>
                    <br>
                    <p>
                        The Production and Managerial Arts pathway focuses on both the technical skills and the organizational and managerial knowledge necessary to bring arts, media, and entertainment to the public.
                        <br><br>
                        <b>Examples of Careers:</b><br>
                        Event Planner<br>
                        Producers/Directors<br>
                        Stage Manager/Production Manager<br>
                        Talent Management<br>
                        Theatrical and Broadcast Technician<br>
                    </p>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="revealinfo('ame-info')">Learn More</button>
                </div>
            </div>
        </div>

      </div>
<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#bctModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-bldgConst.png"></div>
    <div class="row text-center p-2">Building & Construction</div>
</button>

        <div class="modal fade" id="bctModal" tabindex="-1" aria-labelledby="bctModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bctModalLabel">Building & Construction (BCT) Industry Sector</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">

                        <div class="col-auto p-3">
                            <img class="imagefit" src="/static/industry-sectors/is-icons-bldgConst.png">
                        </div>
                        <div class="col-8">
                            <p>
                                In the Construction Pathway students engage in an instructional program that integrates academic and technical preparation and focuses on career awareness, career exploration, and skill preparation. This is a hands-on, project-based, and work-based pathway.
                                <br><br>
                                Click 'Learn More' below for more information.
                            </p>
                        </div>
                    </div>
                    <div class="modal-body row" id="bct-info" style="display: none">
                        <a href="https://www.sandiegouniontribune.com/pomerado-news/news/schools/story/2021-08-18/poway-unified-students-saw-a-path-to-building-a-tiny-house"><img src="/static/industry-sectors/buildconstimagearticle.png" width="390" height="213" style="padding: 5px;"></a>
                        <p>
                            Click on the picture to read the San Diego Union Tribune article about the Tiny Home PUSD students built!
                        </p>
                        <br>
                        <p>
                            Construction Technology is offered at Poway High School.  All PUSD high school students are able to enroll in Construction courses regardless of their home high school!
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="revealinfo('bct-info')">Learn More</button>
                    </div>
                </div>
            </div>

    </div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#bizModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-finance.png"></div>
    <div class="row text-center p-2">Business & Finance</div>
</button>

<div class="modal fade" id="bizModal" tabindex="-1" aria-labelledby="bizModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bizModalLabel">Business & Finance (Biz) Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-finance.png">
                </div>
                <div class="col-8">
                    <p>
                        In the Business Industry Sector, students master business principles and procedures and have opportunities to dive deeper into areas such as accounting & finance, taxes, investments, and asset management.
                        <br><br>
                        Business Management courses are offered at Del Norte and Westview High School and are even offered through Poway Virtual School Courses (PVC)
                    </p>
                    <p>
                        Click 'Learn More' for a list of offered courses at PUSD.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="biz-info" style="display: none">
                <h5>
                    Here is a list of the offered courses:
                </h5>
                <br>
                <p>
                    Accounting 1-2 (WHS)<br>
                    Introduction to Finance 1-2 (DNHS, WHS)<br>
                    Business Law 1-2 (DNHS)<br>
                    Marketing Econonics 1-2 (DNHS, WVHS)<br>
                    Economics of Business Ownership (WHS, PVC)<br>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('biz-info')">Learn More</button>
            </div>
        </div>
    </div>

</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#educModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-educ.png"></div>
    <div class="row text-center p-2">Education, Child Development & Family Services</div>
</button>

<div class="modal fade" id="educModal" tabindex="-1" aria-labelledby="educModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="educModalLabel">Education, Child Development & Family Services (ECDFS) Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-educ.png">
                </div>
                <div class="col-8">
                    <p>
                        The Child Development Pathway provides students with the skills and knowledge they need to pursue careers in child care and related fields.
                    </p>
                    <p>
                        Click 'Learn More' for a list of offered courses at PUSD.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="educ-info" style="display: none">
                <h5>
                    Here is a list of the offered courses:
                </h5>
                <br>
                <p>
                    Child Development & Psychology 1-2 (DNHS)<br>
                    Child Development & Psychology 3-4 (DNHS)<br>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('educ-info')">Learn More</button>
            </div>
        </div>
    </div>

</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#eaModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-engine.png"></div>
    <div class="row text-center p-2">Engineering & Architecture</div>
</button>

<div class="modal fade" id="eaModal" tabindex="-1" aria-labelledby="eaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eaModalLabel">Engineering & Architecture (E&A) Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-engine.png">
                </div>
                <div class="col-8">
                    <p>
                        The Engineering and architecture pathway emphasizes real-world occupationally relevant experiences that will prepare students for life beyond high school. These courses include classroom, laboratory, hand-on contextual learning; project-and-work- based instruction; and leadership and interpersonal skills development.
                    </p>
                    <p>
                        Click 'Learn More' for a list of offered courses at PUSD.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="ea-info" style="display: none">
                <h5>
                    Here is a list of the offered courses:
                </h5>
                <br>
                <p>
                    Intro to Design 1-2 (AHS, PHS)<br>
                    Architectural Design 1-2 (PHS)<br>
                    Civil Engineering & Architecture (PHS)<br>
                    PLTW Intro to Engineering Design 1-2 (DNHS, MCHS, WHS)<br>
                    PLTW Computer Integrated Manufacturing (PHS)<br>
                    PLTW Honors Princples of Engineering 1-2 (DNHS, MCHS, PHS,  WHS)<br>
                    PLTW Digital Electronics 1-2 (WHS)<br>
                    PLTW Engineering Design and Development (MCHS, PHS)<br>
                    Robotic 1-2* (DNHS)<br>
                    * Robotics is offered as a club option at PHS, MCHS, WHS, and RBHS<br>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('ea-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#hsmtModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-health-med.png"></div>
    <div class="row text-center p-2">Health Science & Medical Technology</div>
</button>

<div class="modal fade" id="hsmtModal" tabindex="-1" aria-labelledby="hsmtModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hsmtModalLabel">Health Science & Medical Technology (HSMT) Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-health-med.png">
                </div>
                <div class="col-8">
                    <p>
                        The Health Science industry sector is focused on planning, managing, and providing therapeutic services, diagnostic services, health informatics, support services, and biotechology reserach adn development.
                    </p>
                    <p>
                        PUSD offers a variety of health science courses at many of our high schools across the district.
                    </p>
                    <p>
                        Click 'Learn More' for a list of offered courses at PUSD.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="hsmt-info" style="display: none">
                <h5>
                    Here is a list of the offered courses:
                </h5>
                <br>
                <p>
                    Biomedical Technology 1-2 (MCHS, RBHS) <br>
                    PLTW Principles of Biomedical Sciences 1-2 (DNHS)<br>
                    PLTW Human Body Systems 1-2 (DNHS, WHS)<br>
                    PLTW Honors Medical Interventions 1-2 (DNHS, WHS)<br>
                    Sports Medicine and Athletic Training 1-2 (MCHS)<br>
                    Sports Medicine and Athletic Training 3-4 (MCHS)<br>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('hsmt-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#ictModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-infoComm.png"></div>
    <div class="row text-center p-2">Information & Communication Technology</div>
</button>

<div class="modal fade" id="ictModal" tabindex="-1" aria-labelledby="ictModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ictModalLabel">Information & Communication Technology (ICT) Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-infoComm.png">
                </div>
                <div class="col-8">
                    <h5>
                        Here is a list of the offered courses:
                    </h5>
                    <p>
                        Intro to Computer Programming <br>
                        Data Structure<br>
                        AP Computer Science Principles<br>
                        AP Computer Science A<br>
                        Computer Information Systems<br>
                        Web Design<br>
                    </p>
                    <p>
                        Click 'Learn More' for images
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="ict-info" style="display: none">
                <h5>
                    Here are some images from Computer Science classes at Del Norte High School:
                </h5>
                <br>
                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/20220527_132818.jpg">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('ict-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#mssModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is_icons-marketing.png"></div>
    <div class="row text-center p-2">Marketing Sales & Services</div>
</button>

<div class="modal fade" id="mssModal" tabindex="-1" aria-labelledby="mssModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mssModalLabel">Marketing Sales & Services Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is_icons-marketing.png">
                </div>
                <div class="col-8">
                    <p>
                        The Marketing, Sales, and Services sector is designed to align career-path course work with current and projected employment opportunities. There is a basic business foundation in this sector: marketing and innovation are two major competitive issues for business today. Marketing includes the processes and techniques of identifying, promoting, and transferring products or services to consumers and is a function of almost every business. It exists within an environment of rapidly changing technology, interdependent nations and economies, and increasing demands for ethical and social responsibility.
                    </p>
                    <p>
                        Click 'Learn More' for more information about the pathways in this sector.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="mss-info" style="display: none">
                <p>
                    The three pathways in this sector (Marketing, Professional Sales, and Entrepreneurship/Self-Employment) emphasize training to meet the growing
                    need for marketing professionals with skills in communication, small business, self-employment, advertising, marketing strategies, product and service management, and promotion and selling concepts. These pathways provide a firm foundation for advanced education, entry to a career, and success in the global marketplace. All industry sectors include entrepreneurship and marketing, and therefore students in the Marketing, Sales, and Services sector have a variety of career options.
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('mss-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#manuModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-manu.png"></div>
    <div class="row text-center p-2">Manufacturing & Product Development</div>
</button>

<div class="modal fade" id="manuModal" tabindex="-1" aria-labelledby="manuModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manuModalLabel">Manufacturing & Product Development Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-manu.png">
                </div>
                <div class="col-8">
                    <p>
                    </p>
                    <p>
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="manu-info" style="display: none">
                <p>
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('manu-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#psModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-ps.png"></div>
    <div class="row text-center p-2">Public Services</div>
</button>
<!-- Modal -->
<div class="modal fade" id="psModal" tabindex="-1" aria-labelledby="psModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="psModalLabel">Public Services Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-ps.png">
                </div>
                <div class="col-8">
                    <p>
                        Interested in becoming a fire fighter, EMT, paramedic, nurse, doctor or first responder?  Wnat to participate in hands-on classes tha tprovide you with life saving skills?
                        <br><br>
                        Check out the Fire Science and First Responder courses offered at Mt. Carmel High School!
                        <br><br>
                        These courses are open to all 9-12 grade students in PUSD.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="ps-info" style="display: none">
                <h3>Public Services Industry Sector Pathways </h3>
                <p>
                    Public Safety<br>
                    Emergency Response<br>
                    Legal Practices<br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('ps-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>



<button type="button" class="btn btn-primary col-3 m-2" data-bs-toggle="modal" data-bs-target="#transportModal">
    <div class="row"><img class="imagefit" src="/static/industry-sectors/is-icons-trans.png"></div>
    <div class="row text-center p-2">Transportation</div>
</button>
<!-- Modal -->
<div class="modal fade" id="transportModal" tabindex="-1" aria-labelledby="transportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transportModalLabel">Transportation Industry Sector</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">

                <div class="col-auto p-3">
                    <img class="imagefit" src="/static/industry-sectors/is-icons-trans.png">
                </div>
                <div class="col-8">
                    <p>
                        This sector is designed to provide a foundation in transportation services for all
                        industrial technology education students in California. There are eight focus areas
                        that fall under the Transportation sector, each with different career opportunities.
                        The focus areas are On-Road; Off-Road; Stationary; Rail; Water/Sea; Air; Space;
                        and Small Engines and Specialty Equipment.
                        <br><br>
                        The pathways in the Transportation sector emphasize real-world, occupationally
                        relevant experiences of significant scope and depth in three areas: Operations,
                        Structural Repair and Refinishing, and Systems Diagnostics, Service, and Repair.
                    </p>
                </div>
            </div>
            <div class="modal-body row" id="transport-info" style="display: none">
                <iframe style="width:100%; height:50vw" src="https://www.cde.ca.gov/ci/ct/sf/documents/transportation.pdf" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="revealinfo('transport-info')">Learn More</button>
            </div>
        </div>
    </div>
</div>


</div>
  


<script>

  function revealinfo(id){
    div = document.getElementById(id)
    if (div.style.display == "none") {
      div.style.display = "block"
    }
    else {
      div.style.display = "none"
    }
  }


</script>
{% endblock %}