{% extends 'layouts/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Pathways & Completion</title>
</head>
<body style="text-align: center; margin-left: auto; margin-right: auto">
<div class="jumbotron p-3 mx-auto" style="font-family: 'Montserrat', monospace; width: 80%; margin-top: 3%; padding-bottom: 15px; text-align: center">
    <h1 class="display-4">Pathway Completion & Recognition</h1>
    <p  class="text-center mx-auto">Learn more about what happens when you commit to and complete our pathway programs.</p>
    <hr class="my-4">
</div>
<img style="padding: 0 30px" src="{{ url_for('static', filename='images/path.png') }}" alt="paths">
<img style="padding: 0 30px" src="{{ url_for('static', filename='images/benefits.png') }}" alt="benefits">
<br><br><br>
</body>
{% endblock %}
</html>