{% extends "layouts/base.html" %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <link rel="stylesheet" type="text/css" href="/static/css/calendar.css">
    <script src="/static/js/calendar.js"></script>
    <head>
        <title>Calendar</title>
    </head>
    <body>
    <button><a href = {{ url_for ('crud.crud_login2' )}}> Logout </a></button>
    <div style="margin-top:5%; margin-left: auto; margin-right: auto; text-align: center; font-family: monospace" id="cal-wrap">
        <h1 style="color: olivedrab">Event Calendar</h1>
        <p>
            Welcome to our Event Calendar! Click on a date to add an event:
        </p>
    </div>
    <div style="margin-top:1%; margin-left: auto; margin-right: auto" id="cal-wrap">
        <!-- (A) PERIOD SELECTOR -->
        <div id="cal-date">
            <select id="cal-mth"></select>
            <select id="cal-yr"></select>
        </div>

        <!-- (B) CALENDAR -->
        <div id="cal-container"></div>

        <!-- (C) EVENT FORM -->
        <form id="cal-event">
            <h1 id="evt-head"></h1>
            <div id="evt-date"></div>
            <textarea id="evt-details" required></textarea>
            <input id="evt-close" type="button" value="Close"/>
            <input id="evt-del" type="button" value="Delete"/>
            <input id="evt-save" type="submit" value="Save"/>
        </form>
    </div>
    </body>
    </html>


{% endblock %}