{% extends "layouts/base.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Early College Credits</title>
    <style>
        body{
            background-color:white;
        }
        h1 {
            font-family: 'Monsterrat', monospace;
        }
        p{
            font-size: 19px;
        }
        table td{
            border: 1px solid black;
            padding: 10px;
        }
        td:nth-child(1){
            background-color: #02c66c;
        }
        td:nth-child(2){
            background-color: #54c8eb;
        }
        td:nth-child(3){
            background-color: #d3e15b;
        }
        td:hover {
            background-color: #eea236;
        }
    </style>
</head>
<body>
<br>
<center>
<br><h1>Early College Credits</h1>
<p>Welcome to the Poway Unified District's Early College Credit website.  On this website you will be given information regarding our three programs that provide pathways for students to earn Early College Credit.</p>
<br><img src="https://www.powayusd.com/getmedia/51042864-4759-49a5-b50d-e0e07c3247c1/ECC-Graphic.png.aspx?width=750&height=421">


<br><br><br><br>
<h1>Student Enrollment in Early College Credit Opportunities</h1>
<br>
<img src="/static/info-pages/enrollment.png" style="width:55%">


<br><br><br>
<h1>Advanced Placement Program Information</h1>
<table>
    <tr>
        <td><br><h4>Why Consider Advanced Placement?</h4>
            <ul>
                <li>Offered on high school campus as a part of the normal school day</li>
                <li>Provides students with an additional academic challenge</li>
                <li>Students who pass the course may receive weighted high school credit</li>
                <li>Depending on the college/university's policy, students may receive college credit</li>
            </ul><br>
        </td>
        <td><h4>How to Receive AP Credit?</h4>
            <ul>
                <li>Work with your school counselor to enroll in AP courses at your high school</li>
                <li>ollow your high school's guidelines to sign up for the AP Exam (usually offered in May)</li>
                <li>Request to have your AP test scores sent to the college/university you decide to attend</li>
            </ul>
        </td>
        <td><h4>What is Advanced Placement?</h4>
            <ul>
                <li>Created by the College Board</li>
                <li>Offered in most academic disciplines</li>
                <li>Provides college level courses and fee-based exams taken in high school</li>
                <li>Score on AP exam determines whether or not a student will receive college credit</li>
            </ul>
        </td>
    </tr>
</table>

<br><br><br>
<h1>List of Advanced Placement Courses in PUSD</h1>
<img src="https://www.powayusd.com/getmedia/8be89efb-fdbe-483d-85b4-4677ace7b441/Advanced-Placement-Courses-(1).jpg.aspx?width=1200&height=927">


    <br><br><br>
    <h1>Articulation Program Information</h1>
    <table>
        <tr>
            <td><br><h4>What is Articulation Credit by Exam?</h4>
                <ul>
                    <li>Course alignment between high school and community college courses</li>
                    <li>Requires a written agreement between high school and community college</li>
                    <li>Courses are evaluated by college faculty annually</li>
                    <li>Credit by examination process - students need to pass both the course and the final assessment in order to receive credit</li>
                    <li>Students can earn college credit by successfully completing aligned high school course</li>
                    <li>Courses are taught by high school teachers on high school campuses</li>
                    <li>No cost to student </li>
                </ul>
            </td>
            <td><h4>Why Consider Articulation?</h4>
                <ul>
                    <li>Everthing can be done on high school campus</li>
                    <li>No additional cost to student</li>
                    <li>Most courses are transferable to 4-year colleges and universities</li>
                    <li>Easy way to earn free college credit for courses student is taking in high school</li>
                    <li>There is no penalty for an attempted course on college transcripts</li>
                </ul>
            </td>
            <td><h4>How Do I Receive Articulated Credit?</h4>
                <ul>
                    <li>Enroll in a PUSD articulated course in PUSD</li>
                    <li>See your teacher or CTE Counselor for specific instructions  on how to receive credit</li>
                    <li>Complete the community college application</li>
                    <li>Register in your teacher's class through CATEMA (Career and Technical Education Management Application)</li>
                    <li>Receive a grade of B or better in the course AND on the final assessment in order to receive credit</li>
                    <li>Request to have your transcript sent to the college or university you attend.</li>
                </ul>
            </td>
        </tr>
    </table>


</center>
</body>
</html>
{% endblock %}