<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!DOCTYPE HTML>
<html lang="en">

{% block body %}
<head>
    <style>
        body {
            background-color: #8FBC8F;
        }

        h1 {
            margin-left: 730px;
            font-size: 50px;
        }


        h2 {
            font-family: monospace;
            font-size: 33px;
            margin-left: 600px;
            margin-top: 330px;
        }



    </style>

    <title>PUSD Career Technical Education</title>
</head>

<body>

    <h2>
        Poway Unified School District
    </h2>

    <h1>
        Career Technical Education
    </h1>




{% endblock %}
</body>
</html>