{% extends "layouts/base.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Galleru</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="row mt-4">

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph1.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph1.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph2.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph2.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph3.jpeg" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph3.jpeg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph4.jpeg" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph4.jpeg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph5.jpg" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph5.jpg" width="100%" height="100%">
            </a>
        </div>

        <div class="item col-sm-6 col-md-4 mb-3">
            <a href="/static/photograph/photograph6.JPG" class="fancybox" data-fancybox="gallery1">
                <img src="/static/photograph/photograph6.JPG" width="100%" height="100%">
            </a>
        </div>

    </div>
</div>
</body>
</html>

{% endblock %}