{% extends "layouts/base.html" %}

<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Meet Our Team</title>
</head>

<body style="text-align: center">
<div class="team-area">

    <div class="col-md-12">
        <div class="section-title text-container">
            <h2>Meet Our Team</h2>
            <p>Meet Our Staff Members and Team Members</p>
        </div>
    </div>
    <br>

<table style="width: 80%; padding: 10px; position: center; margin-left: 11%;">
    <tr>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name1</h3>
                            <p>Scrum Master</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
            <br><br><br>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name2</h3>
                            <p>Designer</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
            <br><br><br>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name3</h3>
                            <p>Technical Officer</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
            <br><br><br>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name4</h3>
                            <p>Deployment</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
            <br><br><br>
        </td>
    </tr>

    <tr>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name5</h3>
                            <p>Role</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name6</h3>
                            <p>Role</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name7</h3>
                            <p>Role</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="display">
                <div class="single-team">
                    <div class="team-img">
                        <img src="/static/team/placeholder.jpg">
                    </div>
                    <div class="team-content">
                        <div class="team-info">
                            <h3>Name8</h3>
                            <p>Role</p>
                        </div>
                        <p class="team-text">Quote</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<br><br><br>

</div>
{% endblock %}
</body>
</html>
